/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26-Nov-2018, 10:22:50
    Author     : stuartfletcher
*/

/* Navigation bar details, text and hover attributes. */ 
.navbar {

    top:40px;
    right:30px;
    width:50%;
    height:84px;
    position: fixed;
    background-color:rgba(240, 240, 242, 0.75);
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 10px 10px black;
}
.navbar-card {
    text-align: center;
}
.nav-item{
    padding:10px 10px 10px 10px;
    color: rgb(2,0,175);
}
.nav-item:hover {
    background: rgba(250,220,0,0.8);
    text-decoration: underline;
    opacity: 1.0;
    color: rgb(0,0,75);
}
.h2-nav {
    color: rgb(0,0,175);
    line-height: 0.5;
}
.h4-nav {
    color: rgb(50,50,225);
    line-height: 0.25;
}